#
# Exclude IDEA metadata.
#
.idea
*.iws
*.iml
*.ipr

#
# Exclude Eclipse metadata. 
#
*.project
*.classpath
*.settings/

#
# Exclude Maven build and metatada.
#
target/
release.properties
pom.xml.releaseBackup

# Exclude log and backup files
*.log
*~

